* {
    box-sizing: border-box;
    margin: 0;
}

.titlebar {
    width: 100vw;
    background-color: #0055a2;
}

.sitetitle {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 24px;
    font-family: 'Times New Roman', serif;
    font-weight: 400;
    letter-spacing: 1px;
    height: 83px;
}

.gradientbar {
    height: 10px;
    background: linear-gradient(90deg, #1c88f4 0%, #e5a823 73%) 100% 0 no-repeat, #ededed;
    background-size: 100% 10px, 100%;
    display: block;
}

footer {
    width: 100vw;
    height: 5vh;
    background-color: #0055a2;
}

table,
td {
    border: thin solid black;
    border-collapse: collapse;
    padding: 5px;
}

th {
    border: thick solid black;
    border-collapse: collapse;
    padding: 5px;
    font-weight: bold;
}

.appcontents {
    display: flex;
}

#videocontainer {
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 2px solid black;
}

#myVideo {
    position: relative;
    top: 0;
    left: 0;
    width: 80vw;
    height: auto;
    z-index: 1;
    border: 2px solid green;

}

#goniometer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    border: 2px solid red;
}

#vertinital {
    position: absolute;
    z-index: 2;
}

#pivot {
    position: absolute;
    z-index: 2;

}

#vertfinal {
    position: absolute;
    z-index: 2;

}

.timefeedback {
    display: inline-block;
}

.gonpoint {
    cursor: move;
}